# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Output of `go build`
*.out

# Dependency directories (e.g., from `go mod vendor`)
vendor/

# Environment variables
.env
.env.*

# IDE-specific files and directories
.idea/ # IntelliJ IDEA
.vscode/ # VS Code
*.iml # IntelliJ IDEA module files

# Build artifacts
build/
dist/

# Log files
*.log

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows

test